.head_header {
  font-weight: bolder;
  color: #9e9e9e;
  position: sticky;
  top: 60px;
  left: 0;
  align-self: start;
  z-index: 200;
}
.head_header {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    color: transparent;
    opacity: 0;
    left: 50%;
  }
  50% {
    color: transparent;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0;
    color: hsl(0, 0%, 74%);
  }
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.transition1 {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    background-color: transparent;
    color: transparent;
    opacity: 0;
    left: 50%;
  }
  50% {
    color: transparent;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.transition2 {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    background-color: transparent;
    color: transparent;
    opacity: 0;
    left: 50%;
  }
  50% {
    color: transparent;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.transition3 {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    background-color: transparent;
    color: transparent;
    opacity: 0;
    left: 50%;
  }
  50% {
    color: transparent;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.transition4 {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    background-color: transparent;
    color: transparent;
    opacity: 0;
    left: 50%;
  }
  50% {
    color: transparent;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .flex-container {
    flex-direction: row;
    justify-content: center;
  }
}
